:root {
	--shadow-color: #00000066;
	--primary-font: Roboto, sans-serif;
	--secondary-font: 'Roboto Condensed', Roboto, sans-serif;
}

:root {
	font-size: 62.5%;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: 16px;
	font-family: var(--primary-font);
	margin: 0;
}

* {
	box-sizing: border-box;
}

img,
svg {
	width: 100%;
}

.flex-cc {
	display: flex;
	justify-content: center;
	align-items: center;
}

.aria-only {
	opacity: 0;
	position: absolute;
	left: -9999px;
	top: -9999px;
}
